{% extends "page.html.jinja" %}
{% import 'badges.html.jinja' as badges %}
{% block title %}Test Case {{ test_case.id }}{% endblock %}
{% block page_content %}
  <h1>Test Case {{ test_case.id }}</h1>
   <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ test_case.id }}</h5>
      <p>Testable: {{ test_case.testable.name }}</br>
      Schema Valid: {{ badges.valid_badge(test_case.is_xml_valid) }}</br>
      {% if not test_case.is_xml_valid %}XML Validation Error: {{ test_case.xml_validation_error }}</br>{% endif %}
      Description: {{ test_case.description }}</br>
    </div>
  </div>
  <h2>Rules</h2>
  <ul class="list-group list-group-flush">
  {% for rule in test_case.rules %}
    <li class="list-group-item">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rule ID: {{ rule.id }}</h5>
          <p class="card-text">Descripton: {{ rule.description }}</p>
          <p class="card-text">{{ rule.level.name }}: {{ rule.message }}</p>
          <p class="card-text">
            <h5>Packages:</h5>
            {% for package in rule.packages %}
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><a href="./{{ package.name }}/">{{ package.name }}</a></h5>
                <p class="card-text">Expected result: {{ badges.valid_badge(package.is_valid) }}</p>
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <th>Validator</th>
                    <th>Version</th>
                    <th>Ret Code</th>
                    <th>Valid</th>
                    <th>Duration</th>
                    <th>Contains Code</th>
                  </thead>
                  <tbody>
                  {% for result in package.test_results %}
                    <tr>
                      <td>{{ result.details.name }}</td>
                      <td>v{{ result.details.version }}</td>
                      <td>{{ result.ret_code }}</td>
                      <td>{{ badges.valid_badge(result.is_valid) }}</td>
                      <td>{{ "%.2fs"|format(result.duration) }}</td>
                      <td>{{ result.contains_code }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            {% endfor %}
          </p>
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
{% endblock page_content %}
{% block page_javascript %}
  <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>
{% endblock page_javascript %}

{% macro true_false_class(bool_val) %}{% if bool_val %}success{% else %}danger{% endif %}{% endmacro %}
