{% extends "page.html.jinja" %}
{% block title %}Corpus {{ corpus.specification.id }}{% endblock %}
{% block page_content %}
  <h1>{{ corpus.specification.title }} {{ corpus.specification.version }} {{ corpus.specification.date[:-9] }}</h1>
  <h2>{{ corpus.specification.id }} Corpus Summary</h2>
  <table class="table table-striped" data-toggle="table">
    <thead class="thead-dark">
      <tr>
        <th>{{ corpus.specification.id }} Requirements</th>
        <th>Test Cases</th>
        <th>Rules</th>
        <th>Packages</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ corpus.specification.requirement_count + corpus.specification.structural_requirements|length }}</td>
        <td>{{ corpus.test_cases | length }}</td>
        <td>{{ corpus.rules | length }}</td>
        <td>{{ corpus.packages | length }}</td>
      </tr>
    </tbody>
  </table>
  <h2>{{ corpus.specification.id }} Requirements</h2>
  <h3>{{ corpus.specification.id }} Key</h3>
  <table class="table table-striped" data-toggle="table">
    <thead class="thead-dark">
      <tr>
        <th data-field="id">Test Case ID</th>
        <th data-field="testable">Testable</th>
        <th data-field="rules">Rules</th>
        <th data-field="packages">Implemented Packages/Defined Packages</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="table-danger">Test Case XML failed validation</td>
        <td class="table-danger">UNKNOWN</td>
        <td>No Key</td>
        <td class="table-danger">No packages implemented.</td>
      </tr>
      <tr>
        <td>No Key</td>
        <td class="table-warning">FALSE/PARTIAL</td>
        <td>No Key</td>
        <td class="table-warning">Some packages implemented.</td>
      </tr>
      <tr>
        <td class="table-success">Test Case XML Valid</td>
        <td class="table-success">TRUE</td>
        <td>No Key</td>
        <td class="table-success">All packages implemented.</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped" data-toggle="table" data-search="true">
    <thead class="thead-dark">
      <tr>
        <th data-field="id" data-sortable="true">Test Case ID</th>
        <th data-field="testable" data-sortable="true">Testable</th>
        <th data-field="rules" data-sortable="true">Rules</th>
        <th data-field="packages" data-sortable="true">Implemented Packages/Defined Packages</th>
      </tr>
    </thead>
    <tbody>
      {% for corpus_case in corpus.test_cases %}
      <tr>
        <td class="table-{{ true_false_class(corpus_case.is_xml_valid) }}"><a href="./{{ corpus_case.id }}/">{{ corpus_case.id }}</a></td>
        <td class="table-{{ testable_class(corpus_case.testable.value) }}">{{ corpus_case.testable.value }}</td>
        <td>{{ corpus_case.rules | length }}</td>
        <td class="table-{{ packages_class(corpus_case.implemented_packages | length,  corpus_case.packages | length ) }}">{{ corpus_case.implemented_packages | length }}/{{ corpus_case.packages | length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock page_content %}
{% block page_javascript %}
  <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>
{% endblock page_javascript %}

{% macro true_false_class(bool_val=false) %}{% if bool_val %}success{% else %}danger{% endif %}{% endmacro %}

{% macro packages_class(implemented_packages=0, defined_packages=0) %}{% if implemented_packages ==  defined_packages %}success{% elif implemented_packages == 0 %}danger{% else %}warning{% endif %}{% endmacro %}

{% macro testable_class(testable_val='FALSE') %}{% if testable_val == 'TRUE' %}success{% elif testable_val == 'FALSE' or testable_val == 'PARTIAL' %}warning{% else %}danger{% endif %}{% endmacro %}
