{% extends "base.html.jinja" %}
{% block title %}Page{% endblock %}
{% block page_header %}
{% include "navbar.html.jinja" %}
{% endblock %}
{% block page_layout %}
  <div class="container" role="main">
    {% block page_content %}
    {% endblock page_content %}
  </div>
{% endblock page_layout %}
{% block page_script %}
  {% block page_javascript %}
  {% endblock page_javascript %}
{% endblock page_script %}
